<!-- views/partials/footer.ejs -->
<script type="text/javascript" src="/materialize-css/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/materialize-css/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="js/custome-script.js"></script>

<script type="text/javascript">
</script>
<footer class="page-footer light-blue lighten-1">
	<div class="container">
		<div class="footer-copyright">
			<div class="">
				Made by <a class="orange-text text-lighten-3" href="http://searchtrade.com">searchtrade</a>
			</div>
		</div>
	</div>
</footer>
