<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css">
<link rel="stylesheet" href="/css/custome.css">
