      <div class="trend-wrap z-depth-1">
                        <h5>Trends</h5>
                        <ul>
                            <% userdetails.trends.forEach(function(userdetail){ %>
                            <li><a href="#12">#<%= userdetail.keyword %></a><span><%= userdetail.count %> Tweets</span></li>
                            <% }) %>
                            
                        </ul>
                    </div> 