<div class="trend-wrap z-depth-1">
	<h5>Trends</h5>
	<ul>
		<% userdetails.allhashtag.forEach(function(userdetail){ %>
		<li><a href="#12">#<%= userdetail.hashtag %></a><span>26.7K Tweets</span></li>
		<% }) %>
		
	</ul>
</div>