@media only screen and (min-width: 993px) {
    .container.big {
        width: 92%;
        background-color: #fff;
        margin-top: 15px;
    }
}

.container.big .container {
    background-color: #fff;
}

.light,
footer.page-footer .footer-copyright {
    text-align: center;
}

body {
    background: #f5f8fa;
}

.bg-color {
    background: #f5f8fa;
}

.character-counter {
    float: left !important;
}

.fixed-action-btn.horizontal {
    clear: both;
    float: right;
}

.fixed-action-btn {
    position: relative;
}

textarea.materialize-textarea {
    min-height: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.card-action.t-count {
    padding: 10px 0 0px 0;
}

.card-action.t-count ul {
    display: flex;
    margin: 0;
}

.card .card-reveal {
    z-index: 6;
}

.card-action.t-count ul li {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 11px;
}

.card-action.t-count ul li span {
    display: block;
    display: block;
    font-size: 26px;
    color: #000;
}

.card-action.t-count ul li a {
    color: #039be5 !important;
}

.navbar-fixed {
    z-index: 999;
}

.collection .collection-item.avatar:hover {
    background: #f5f8fa;
}

.collection .collection-item.avatar {
    cursor: pointer;
    min-height: 65px;
}

.collection-item.avatar a {
    color: #000;
}

.user_pro_p {
    position: absolute;
    bottom: 163px;
    z-index: 5;
}


/*social post*/

ul.collection.social_post {
    overflow: initial;
    z-index: 50;
}

.social_post a:hover {
    text-decoration: underline;
}

.social_post .u_id {
    color: #000;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 8px;
}

.social_post .post-time {
    font-size: 13px;
    color: #A29C9C;
}


/*dropdown */

.social_post .dropdown-content li>a,
.dropdown-content li>span {
    font-size: 12px;
    color: #000;
    padding: 5px 15px;
    line-height: auto;
}

.social_post .dropdown-content li {
    min-height: auto;
}


/*buttons*/

.card-action a.btn-reply,
.card-action a.btn-retweet,
.card-action a.btn-like {
    color: #aab8c2;
    margin-right: 8%;
    padding-top: 5px;
    display: inline-block;
}

a.btn-reply:hover {
    color: #000;
}

a.btn-retweet:hover {
    color: #19cf86;
}

a.btn-like:hover {
    color: red;
}


/*/*tooltip/**/

.material-tooltip {
    padding: 7px 8px;
    font-size: .8rem;
    min-height: 0;
}


/*hashtag*/

.trend-wrap {
    background-color: #fff;
    padding: 15px 5px 15px 25px;
}

.trend-wrap.z-depth-1 li {
    margin-bottom: 15px;
}

.trend-wrap.z-depth-1 li a {
    display: block;
    color: #000;
    font-size: 14px;
}

.trend-wrap.z-depth-1 li a:hover {
    text-decoration: underline;
}

.trend-wrap.z-depth-1 li span {
    font-size: 11px;
    color: #989898;
}


/*tweet btn*/

.btn-tw-st {
    position: fixed;
    bottom: 25px;
    right: 85px;
}


/*tabs*/

.tabs,
.tabs .tab {
    height: auto;
    line-height: 25px;
    ;
}


/*.tabs .tab a {
    color: #000;
}
.tabs .tab a:hover {
	opacity: .8
    color: #000;
}*/

.tabs .tab a span {
    display: block;
}


/*searchbox*/

.sb {
    max-width: 55%;
    position: absolute;
    left: 25%;
}

/*Hashtag*/
h4.h_tag {
    text-align: center;
    background-color: #25223A;
    color: #fff;
    padding: 5px 0;
    font-size: 28px;
}
.Hash_wrap .tabs, .tabs .tab {
    line-height: 32px;
}

/*btn icon fix*/
.btn-ico {
    position: absolute;
    z-index: 5;
    color: #fff;
    right: 21px;
    top: 20px;
}
/*removed text decoration from dropdown*/
.social_post .dropdown-content a:hover {
    text-decoration: none;
}
.rt-btn:hover{
   background-color:  #f5f8fa;
}
/*parent child hover dependancy*/
.collection .collection-item.avatar:hover .rt-btn {
   background-color:  #f5f8fa;

}
.rt-btn{
        z-index: 2;
    position: absolute;
    background-color: #fff;
    height: 35px;
    width: 31px;
    padding-top: 9px;
}
.btn-rt_input span{
    margin-right: 15px;
}
.btn-rt_input{
/*    z-index: 1;
    height: 35px;
    width: 31px;
    background: url(./images/retweet-action.png) no-repeat 0 0;*/

    z-index: 1;
    height: 19px;
    width: 28px;
    background: url(../images/imageedit_1_4471377551.gif) no-repeat 0 0;
    background-size: 77px;
    background-position: -25px -6px;
    border: 0;

}
.btn-rt_input:hover {
    background-position:-25px -27px;
}
.rt-count{
    color: #aab8c2;
    margin-left: 2px;
    margin-right: 8%;
    font-size: 12px;
}

/*login*/
.login-wrap{
    /*margin: 0 auto;*/
    float: none !important;
    /*padding-top: 10% !Important;*/

        /*width: 380px;*/
    margin: 4em auto;
    padding: 3em 2em 2em 2em !Important;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.btn-login{
    max-width: 65%;
    width: 100%;
    float: none;
    margin: 8% 0 1% 18%;
}
