<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container">
			<div class="row">
				<div class="col s12 m8 l5 login-wrap">
					<% if (message.length > 0) { %>
					<div class="alert alert-warning"><%= message %></div>
					<% } %>
				   <form action="/login" method="post">
						<div class="row " layout-align="center center">
							<div class="input-field col s12">
								<i class="material-icons prefix">account_circle</i>
								<input id="icon_prefix" type="text" class="validate" name="email"> 
								<label for="icon_prefix">user name</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix">lock</i>
								<input id="lock" type="password" class="validate" name="password">
								<label for="lock">Password</label>
							</div>
							<!-- <div class="icon-preview col s6 m3"><i class="material-icons dp48">lock</i><span>lock</span></div> -->
							<button class="btn waves-effect waves-light blue btn-login" type="submit" name="action">Login
							<!-- <i class="material-icons right">send</i> -->
							</button>
						</div>
						<!-- <hr> -->
						<p>Need an account? <a href="/signup">Signup</a></p>
						<p>Or go <a href="/">home</a>.</p>
					</form>
				</div>
			</div>
		</div>
		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</body>
</html>