<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div  class="container big">
            <div class="row bg-color">
                <div class="col s12 m4 l3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/CeoXGIuWQAAtrZN.JPG">
                        </div>
                        <div class="card-content">
                            <img src="images/pro_01.jpg" alt="" class="circle user_pro_p">
                            <span class="card-title activator grey-text text-darken-4">Sudeep B Makwana<i class="material-icons right">more_vert</i></span>
                            <p></p>
                            <p><a href="#">@sudeep_dk</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Sudeep B Makwana<i class="material-icons right">close</i></span>
                            <p>I strongly believe that we can change our country's fate we r the future of our country.Full stack programmer. <a href="http://sudeepdk.com ">http://sudeepdk.com</a></p>
                        </div>
                        <div class="card-action t-count">
                            <ul>
                                <li><a href="#7">tweet<span>27</span></a></li>
                                <li><a href="#5">Following<span>36</span></a></li>
                                <li><a href="#2">Follower<span>74</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="trend-wrap z-depth-1">
                        <h5>Trends</h5>
                        <ul>
                            <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                            <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                            <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                            <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                        </ul>
                    </div>
                </div>
                <!-- END left div -->
                <div class="col s12 m4 l6">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <h4>Mention</h4>
                                <div class="row">
                                    <div class="col s12">
                                        <ul class="tabs">
                                            <li class="tab col s3"><a class="active" href="#test1">All</a></li>
                                            <li class="tab col s3"><a  href="#test2">people you follow</a></li>
                                        </ul>
                                    </div>
                                    <div id="test1" class="col s12">
                                        <ul class="collection social_post">
                                            <li class="collection-item avatar">
                                                <img src="images/pro_01.jpg" alt="" class="circle">
                                                <a href="#as"><b class="fullname">Damon Jernstad</b></a><a href="#" class="u_id">@sudeep_dk</a><a href="#" class="post-time">4hr</a><br>
                                                <small>
                                                Followed by <a href="#12"><b>Leonel</b></a> and <a href="#" class=""><b>others</b></a>
                                                </small>
                                                <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                                <!-- <a href="#!" class="secondary-content"><i class="fa fa-user-plus"></i></a> -->
                                                <p>Tata Steel explores outright sale of UK business
                                                    <a href="https://t.co/vmpTXCU5Gd" class="twitter-timeline-link" target="_blank" title="http://forbesindia.com/article/special/tata-steel-explores-outright-sale-of-uk-business/42809/1#ixzz44Mjitk2F">
                                                        <span class="invisible">http://</span>
                                                        <span class="js-display-url">forbesindia.com/article/specia</span>
                                                        <span class="invisible">l/tata-steel-explores-outright-sale-of-uk-business/42809/1#ixzz44Mjitk2F</span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span>…</span></a>
                                                        <a href="/Blythe" class="p-atreply">
                                                        <s>@</s><b>Blythe</b></a>
                                                    </p>
                                                    <div class="card-action">
                                                        <a href="#" class="btn-reply tooltipped" data-position="top" data-delay="50" data-tooltip="reply"><i class="fa fa-reply"></i></a>
                                                        <a href="#" class="btn-retweet tooltipped" data-position="top" data-delay="50" data-tooltip="retweet"> <i class="fa fa-retweet"></i></a>
                                                        <a href="#" class="btn-like tooltipped" data-position="top" data-delay="50" data-tooltip="like"><i class="fa fa-heart"></i></a>
                                                        <!-- Dropdown Trigger -->
                                                        <a class='dropdown-button right' href='#' data-activates='dropdown1'><i class="fa fa-ellipsis-h"></i></a>
                                                        <!-- Dropdown Structure -->
                                                        <ul id='dropdown1' class='dropdown-content'>
                                                            <li><a href="#!">Share via Direct Message</a></li>
                                                            <li><a href="#!">Copy link to Tweet</a></li>
                                                            <li><a href="#!">Embed Tweet</a></li>
                                                            <li><a href="#!">Pin to your profile page</a></li>
                                                            <li><a href="#!">Unpin from profile page</a></li>
                                                            <li><a href="#!">Delete Tweet</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="collection-item avatar">
                                                    <img src="images/pro_02.jpg" alt="" class="circle">
                                                    <a href="#as"><b class="fullname">Damon Jernstad</b></a><a href="#" class="u_id">@Lenita</a><a href="#" class="post-time">5hr</a><br>
                                                    <small>
                                                    Followed by <a href="#12"><b>Aiko</b></a> and <a href="#" class=""><b>others</b></a>
                                                    </small>
                                                    <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                                    <p>Tata Steel explores outright sale of UK business
                                                        <a href="https://t.co/vmpTXCU5Gd" class="twitter-timeline-link" target="_blank" title="http://forbesindia.com/article/special/tata-steel-explores-outright-sale-of-uk-business/42809/1#ixzz44Mjitk2F">
                                                            <span class="invisible">http://</span>
                                                            <span class="js-display-url">forbesindia.com/article/specia</span>
                                                            <span class="invisible">l/tata-steel-explores-outright-sale-of-uk-business/42809/1#ixzz44Mjitk2F</span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span>…</span></a>
                                                            <a href="/Mariela" class="p-atreply">
                                                            <s>@</s><b>Mariela</b></a>
                                                        </p>
                                                        <div class="card-action">
                                                            <a href="#" class="btn-reply tooltipped" data-position="top" data-delay="50" data-tooltip="reply"><i class="fa fa-reply"></i></a>
                                                            <a href="#" class="btn-retweet tooltipped" data-position="top" data-delay="50" data-tooltip="retweet"> <i class="fa fa-retweet"></i></a>
                                                            <a href="#" class="btn-like tooltipped" data-position="top" data-delay="50" data-tooltip="like"><i class="fa fa-heart"></i></a>
                                                            <!--                                             <a href="#"> <i class="material-icons">insert_chart</i></a>
                                                            -->                                            <!-- <a href="#"> <i class="fa fa-ellipsis-h"></i></a> -->
                                                            <!-- Dropdown Trigger -->
                                                            <a class='dropdown-button right' href='#' data-activates='dropdown2'><i class="fa fa-ellipsis-h"></i></a>
                                                            <!-- Dropdown Structure -->
                                                            <ul id='dropdown2' class='dropdown-content'>
                                                                <li><a href="#!">Share via Direct Message</a></li>
                                                                <li><a href="#!">Copy link to Tweet</a></li>
                                                                <li><a href="#!">Embed Tweet</a></li>
                                                                <li><a href="#!">Pin to your profile page</a></li>
                                                                <li><a href="#!">Unpin from profile page</a></li>
                                                                <li><a href="#!">Delete Tweet</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="collection-item avatar">
                                                        <img src="images/pro_03.jpg" alt="" class="circle">
                                                        <a href="#as"><b class="fullname">Damon Jernstad</b></a><a href="#" class="u_id">@Melissa</a><a href="#" class="post-time">3hr</a><br>
                                                        <small>
                                                        Followed by <a href="#12"><b>Collette</b></a> and <a href="#" class=""><b>others</b></a>
                                                        </small>
                                                        <p>Tata Steel explores outright sale of UK business
                                                            <a href="https://t.co/vmpTXCU5Gd" class="twitter-timeline-link" target="_blank" title="http://forbesindia.com/article/special/tata-steel-explores-outright-sale-of-uk-business/42809/1#ixzz44Mjitk2F">
                                                                <span class="invisible">http://</span>
                                                                <span class="js-display-url">forbesindia.com/article/specia</span>
                                                                <span class="invisible">l/tata-steel-explores-outright-sale-of-uk-business/42809/1#ixzz44Mjitk2F</span><span class="tco-ellipsis"><span class="invisible">&nbsp;</span>…</span></a>
                                                                <a href="/Tamika" class="p-atreply">
                                                                <s>@</s><b>Tamika</b></a>
                                                            </p>
                                                            <div class="card-action">
                                                                <a href="#" class="btn-reply tooltipped" data-position="top" data-delay="50" data-tooltip="reply"><i class="fa fa-reply"></i></a>
                                                                <a href="#" class="btn-retweet tooltipped" data-position="top" data-delay="50" data-tooltip="retweet"> <i class="fa fa-retweet"></i></a>
                                                                <a href="#" class="btn-like tooltipped" data-position="top" data-delay="50" data-tooltip="like"><i class="fa fa-heart"></i></a>
                                                                <!--                                             <a href="#"> <i class="material-icons">insert_chart</i></a>
                                                                -->                                            <!-- <a href="#"> <i class="fa fa-ellipsis-h"></i></a> -->
                                                                <!-- Dropdown Trigger -->
                                                                <a class='dropdown-button right' href='#' data-activates='dropdown3'><i class="fa fa-ellipsis-h"></i></a>
                                                                <!-- Dropdown Structure -->
                                                                <ul id='dropdown3' class='dropdown-content'>
                                                                    <li><a href="#!">Share via Direct Message</a></li>
                                                                    <li><a href="#!">Copy link to Tweet</a></li>
                                                                    <li><a href="#!">Embed Tweet</a></li>
                                                                    <li><a href="#!">Pin to your profile page</a></li>
                                                                    <li><a href="#!">Unpin from profile page</a></li>
                                                                    <li><a href="#!">Delete Tweet</a></li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div id="test2" class="col s12">Test 2</div>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                            <!-- center div post  -->
                            <div class="col s12 m4 l3">
                                <a href="#">Who to follow</a>
                                <a href="#1" class="right">view all</a>
                                <ul class="collection">
                                    <li class="collection-item avatar">
                                        <img src="images/pro_01.jpg" alt="" class="circle">
                                        <a href=""><b class="fullname">Damon Jernstad</b></a><br>
                                        <small>
                                        Followed by <a href="#12"><b>Leonel</b></a> and <a href="#" class=""><b>others</b></a>
                                        </small>
                                        <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                        <a href="#!" class="secondary-content"><i class="fa fa-user-plus"></i></a>
                                    </li>
                                    <li class="collection-item avatar">
                                        <img src="images/pro_02.jpg" alt="" class="circle">
                                        <a href=""><b class="fullname">Harrison Bonardi</b></a><br>
                                        <small>
                                        Followed by <a href="#12"><b>Aiko</b></a> and <a href="#" class=""><b>others</b></a>
                                        </small>
                                        <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                        <a href="#!" class="secondary-content"><i class="fa fa-user-plus"></i></a>
                                    </li>
                                    <li class="collection-item avatar">
                                        <img src="images/pro_03.jpg" alt="" class="circle">
                                        <a href=""><b class="fullname">Linnie Escalona</b></a><br>
                                        <small>
                                        Followed by <a href="#12"><b>Collette</b></a> and <a href="#" class=""><b>others</b></a>
                                        </small>
                                        <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                        <a href="#!" class="secondary-content"><i class="fa fa-user-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- right div suggesion , footer -->
                        </div>
                    </div>
                    <footer>
                        <% include ../partials/footer %>
                    </footer>
                    
                </body>
            </html>